// This file is suitable to write scss if you have something that you can not solve using Tailwindcss
$body-text-color: rgba(255, 255, 255);
$body-bg-color: blue;

body {
    background-color: $body-bg-color;
    color: $body-text-color;
}