// This file is suitable to write scss if you have something that you can not solve using Tailwindcss
$body-bg-color: #FFF;
$body-text-color: rgba(0, 0, 0, .7);

body {
    background-color: $body-bg-color;
    color: $body-text-color;
}